* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
}

body {
  color: #FFF;
}

/* Header */
#id-header-pagina {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAF7F2;
  border-bottom: 1px solid #e2e2e2;

  box-shadow: 
    /* Sombra principal: pouca expansão, mais desfoque */
    0 4px 12px rgba(0, 0, 0, 0.1), 
    /* Sombra secundária: para dar mais profundidade */
    0 2px 4px rgba(0, 0, 0, 0.06);
}

#div-header-logo {
  display: flex;
  flex-direction: row;
}

#id-logo-img {
  width: 8.5rem;
  height: 8.5rem;
  transition: all .1s ease;
}

#id-logo-img:hover {
  filter: brightness(70%);
}

#id-titulo-logo2 {
  margin-top: -1.5rem;
  font-size: 4.2rem;
}

.class-titulo-logo {
  font-size: 2.5rem;
  color: #4A2C2A;
}

#div-titulo-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0 1rem;
} 

#id-nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 1px solid #e2e2e2;
}

.class-item-nav {
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  transition: all 0.1s ease-out;
}

.class-item-nav:hover {
  cursor: pointer;
  background-color: #e2b47b50;
  height: 100%;
  color: #2e1b1a;
  transform: translateY(-0.15rem);
}

.class-item-nav:hover .class-icone-item-nav {
  color: #a37133;
  transform: scale(1.1);
}

.class-item-nav:hover .class-legenda-item-nav {
  transform: scale(1.1);
}

.class-icone-item-nav {
  color: #C58940;
}

.class-legenda-item-nav {
  color: #4A2C2A;
}

#btn-header-cta {
  color: #FAF7F2;
  font-size: 1.6rem;
  background-color: #C58940;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.6rem;
  transition: all 0.1s ease-out;
}

#btn-header-cta:hover {
  cursor: pointer;
  color: #e2e2e2;
  background-color: #a37133;
  transform: translateY(-0.15rem);
}
