* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
  overflow: scroll;
}

body {
  color: #FFF;
}

/* Header */
#id-header-pagina {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAF7F2;
  border-bottom: 1px solid #e2e2e2;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  box-shadow: 
    /* Sombra principal: pouca expansão, mais desfoque */
    0 4px 12px rgba(0, 0, 0, 0.1), 
    /* Sombra secundária: para dar mais profundidade */
    0 2px 4px rgba(0, 0, 0, 0.06);
    transition: all 0.1s;

  z-index: 1000;

  transition: 0.1s all ease-out;
}

.shrink {
  height: 3.5rem;
  justify-content: center !important;
}

.class-display-none {
  display: none !important;
}

.shrink #id-nav-header {
  height: 3.4rem;
}

.shrink .class-item-nav {
  padding: 0.5rem 0.8rem;
  margin: 0 2rem;
  transition: all 0.1s ease-out;
}

.shrink .class-item-nav:hover {
  transform: translateY(0rem) !important;
}

.shrink .class-icone-item-nav {
  font-size: 2rem;
}

.shrink .class-legenda-item-nav {
  font-size: 1.4rem;
}

.shrink .class-item-nav:hover .class-icone-item-nav {
  transform: scale(1.0);
}

.shrink .class-item-nav:hover .class-legenda-item-nav {
  transform: scale(1.0);
}

.class-header-ativo {
  left: 0 !important;
}

.class-botao-menu-inativo {
  left: -10rem !important;
}

#div-header-logo {
  display: flex;
  flex-direction: row;
}

#id-logo-img {
  width: 8.5rem;
  height: 8.5rem;
  transition: all .1s ease;
}

#id-logo-img:hover {
  filter: brightness(70%);
}

#id-titulo-logo2 {
  margin-top: -1.5rem;
  font-size: 4.2rem;
}

.class-titulo-logo {
  font-size: 2.5rem;
  color: #4A2C2A;
}

#div-titulo-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0 1rem;
} 

#id-span-close-header {
  display: none;
} 

#fundo-preto {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.589);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

#id-nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 1px solid #e2e2e2;
}

.class-item-nav {
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  transition: all 0.1s ease-out;
}

.class-item-nav:hover {
  cursor: pointer;
  background-color: #e2b47b50;
  height: 100%;
  color: #2e1b1a;
  transform: translateY(-0.15rem);
}

.class-item-nav:hover .class-icone-item-nav {
  color: #a37133;
  transform: scale(1.1);
}

.class-item-nav:hover .class-legenda-item-nav {
  transform: scale(1.1);
}

.class-icone-item-nav {
  color: #C58940;
}

.class-legenda-item-nav {
  color: #4A2C2A;
}

#btn-header-cta {
  color: #FAF7F2;
  font-size: 1.6rem;
  background-color: #C58940;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.6rem;
  transition: all 0.1s ease-out;
}

#btn-header-cta:hover {
  cursor: pointer;
  color: #e2e2e2;
  background-color: #a37133;
  transform: translateY(-0.15rem);
}

#div-menu-icon {
  display: none;
}

#id-hero-section {
  margin-top: 15rem;
  margin-bottom: 15rem;
  border: 1px solid #e2e2e2;
  height: 43rem;
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./imgs/hero_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  box-shadow: 
    /* Sombra principal: pouca expansão, mais desfoque */
    0 4px 12px rgba(0, 0, 0, 0.1), 
    /* Sombra secundária: para dar mais profundidade */
    0 2px 4px rgba(0, 0, 0, 0.06);
}

#id-hero-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

#id-hero-banner {
  display: none;
  height: 100%;
} 

#id-titulo-principal-hero {
  color: #e2e2e2;
  font-size: 5.2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  font-weight: 600;
  z-index: 3;
}

#id-subtitulo-principal-hero {
  color: #e2e2e2;
  font-size: 4.2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  font-weight: 600;
  margin-top: 0.5rem;
  z-index: 3;
}

#btn-hero-cta {
  color: #FAF7F2;
  font-size: 2.2rem;
  background-color: #C58940;
  padding: 2.7rem 9rem;
  border: none;
  border-radius: 0.6rem;
  transition: all 0.1s ease-out;
  margin-top: 3.6rem;
  z-index: 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
}

#btn-hero-cta:hover {
  cursor: pointer;
  color: #e2e2e2;
  background-color: #a37133;
  padding: 2.7rem 12rem;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.movimentacao-bloqueada {
  overflow: hidden;
}

@media (max-width: 768px) {
    body {
      
    }

   #id-header-pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    position: fixed; 
    left: -20rem;
   } 

   #id-nav-header {
    margin-top: 2rem;
    flex-direction: column;
   }

   #btn-header-cta {
    display: none;
   }

   #id-logo-img {
    width: 7rem;
    height: 7rem;
   }

    .class-titulo-logo {
      font-size: 1.8rem;
    }

    #id-titulo-logo2 {
      margin-top: 0;
      font-size: 2rem;
    }

    .class-item-nav {
      padding: 1rem 0.6rem;
    }

    #div-header-logo {
      flex-direction: column;
      align-items: center;
    }

    #div-titulo-logo {
      align-items: center;
    }

    #id-span-close-header {
      display: inline;
      color: #C58940;
      align-self: flex-end;
      font-size: 3rem;
    } 

    #div-menu-icon {
      position: fixed;
      z-index: 999;
      top: 2rem;
      left: 0;
      display: flex;
      width: fit-content;
      background-color: #C58940;
      padding: 1.5rem 1.5rem;
      color: #FAF7F2;
    }

    #id-hero-section {
      margin-top: 1rem;
      margin-bottom: 15rem;
      padding-bottom: 1.5rem;
      border: 1px solid #e2e2e2;
      height: fit-content;
      width: 100%;
      position: relative;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-image: none;

      box-shadow: 
        /* Sombra principal: pouca expansão, mais desfoque */
        0 4px 12px rgba(0, 0, 0, 0.1), 
        /* Sombra secundária: para dar mais profundidade */
        0 2px 4px rgba(0, 0, 0, 0.06);
    }

    #id-hero-section::before {
      display: none;
    }

    #id-hero-banner {
      display: block;
      height: 100%;
      width: 100%;
    } 

    #id-titulo-principal-hero {
      color: #C58940;
      font-size: 3.6rem;
      text-shadow: none;
      font-weight: 600;
      z-index: 3;
      text-align: center;
      margin: 3rem 1.5rem;
      text-shadow: 2px 2px 10px rgba(156, 156, 156, 0.315);
    }

    #id-subtitulo-principal-hero {
      color: #a8722f;
      font-size: 2rem;
      text-shadow: none;
      font-weight: 600;
      margin-top: -2rem;
      text-shadow: 2px 2px 10px rgba(156, 156, 156, 0.315);
    }

    #btn-hero-cta {
      color: #FAF7F2;
      font-size: 2.2rem;
      background-color: #C58940;
      padding: 2.2rem 5rem;
      border: none;
      border-radius: 0.6rem;
      transition: all 0.02s ease-out;
      margin-top: 5rem;
      z-index: 3;
      box-shadow: none;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.418); */
    }

    #btn-hero-cta:hover {
      color: #e2e2e2;
      background-color: #d1964f;
      padding: 2.2rem 5rem;

      box-shadow: none;
      transform: none;
    }
}
